p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center !important;
}

label input {
  text-align: center;
}

.highscore {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #17a2b8;
  position: absolute;
  top: 0%;
  left: 0%;
}
.hide {
  display: none;
}
.jumbotron {
  height: 100%;
  width: 100%;
}

#intro-words {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

#timer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #17a2b8;
  position: absolute;
  top: 0%;
  right: 0%;
}

#intro {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
#start-btn {
  margin: 0;
  position: absolute;
  left: 47%;
}

#question-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

#question {
  font-size: 30px;
  color: #17a2b8;
}

#answers {
  font-size: 30px;
  color: #17a2b8;
}

#answer1 #answer2 #answer3 #answer4 {
  background-color: #17a2b8;
  color: white;
  border-radius: 4px;
}
