#intro-words {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.highscore {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(115, 48, 177);
  position: absolute;
  top: 0%;
  left: 0%;
}
.hide {
  display: none;
}

#timer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(115, 48, 177);
  position: absolute;
  top: 0%;
  right: 0%;
}

#instructions {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
#start-btn {
  /* background-color: rgb(115, 48, 177);
  color: white;
  border-radius: 4px; */
  margin: 0;
  position: absolute;
  left: 47%;
}

#question-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

#answer1 #answer2 #answer3 #answer4 {
  background-color: rgb(115, 48, 177);
  color: white;
  border-radius: 4px;
}
/* #question {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

#answers {
  align-items: center;
} */
